page-user-bet-details {

}
.orderDetailsList{
    li{
        border-bottom: 1px solid #d5d5d5;
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .value{color:#666}
    }
    
}