page-bank-info {

}
/*银行资料*/
.member-page{background: #ecf4f9;}
.m-bank-data-con{padding:0px 15px;padding-bottom:15px;}
.m-bank-data-list{background:#fff;margin-top:15px;border-radius:10px;border:1px solid #e6e6e6;padding:9px 12.5px;line-height:24px;}
