page-login {

}
/*登录*/
.assertive{color:#d83547}
.login .img{margin-bottom:50px;}
.login i{font-size: 24px;}
.login i.icon-mima{font-size: 20px;}
.login .item-input{padding: 6px 16px 5px 16px;}
.login .item-input input[type='text'],
.login .item-input input[type='password']{ padding-right: 0px; height: 34px; background-color: transparent; border:none; flex: 1 220px;  }
.login .list-inset{margin: 20px 30px;}
.login .list-inset .item:last-child{border-radius: 30px;background: #edf2f6;border:none;}
.login input[type="button"]{width: 100%;border-radius: 30px;border:none;    border-color: transparent; background-color: #d83547; color: #fff; padding: 0 12px; min-width: 52px; min-height: 47px;}
