<ion-menu type="overlay" [content]="Menu" side="right">
	<ion-content class="gameSideMenu">
		<game-side-menu [gameKey]="gameKey" [panName]="activeGamePan"></game-side-menu>
	</ion-content>
</ion-menu>
<ion-header>
	<ion-toolbar color="primary" #Menu>
		<ion-buttons>
			<button ion-button (click)="goHome()">
				<span class="gct-header-left"><ion-icon id="gct-left-icon" name="arrow-back"></ion-icon>
					切换彩种</span>
			</button>
		</ion-buttons>
		<ion-title (click)="presentActionSheet()">
			<span class="gct-header-tit">{{gameName}}-{{activeGamePan}}盘</span>
			<ion-icon class="gct-header-tit-icon" name="arrow-dropdown"></ion-icon>
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only menuToggle>
				<span class="gct-header-right">{{memberAmount}}</span>
				<ion-icon class="gct-header-right-icon" name="menu"></ion-icon>
			</button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="gamePageContainer">
		<div class="cont1">
			<ul class="gameTabCont">
				<li (click)="changeActiveIonicContent(0)" [ngClass]="{'active':activeIonicContent===0}">投注区</li>
				<li (click)="changeActiveIonicContent(3)" [ngClass]="{'active':activeIonicContent===3}">混合过关</li>
				<li (click)="changeActiveIonicContent(1)" [ngClass]="{'active':activeIonicContent===1}">聊天室</li>
			</ul>
			<div *ngIf="activeIonicContent===0||activeIonicContent===3">
				<opencode1 [gameKey]="gameKey" (changeStop_remaining)="changeStop_remaining($event)" (setExpect)="setExpect($event)"></opencode1>
			</div>
		</div>
		<div class="cont2" *ngIf="activeIonicContent===0||activeIonicContent===3">
			<div class="gameLeftView">
				<ion-scroll style="height:100%;width:100%" scrollY="true" scrollbar-y="false">
					<div *ngFor="let item of gameStructure;let _index = index;">
						<a class="gameKey" [ngClass]="{'active':_index===activeGameType}" (click)="gameKeyClickEvent(_index)">{{item.name}}</a>
					</div>
				</ion-scroll>
			</div>
			<div class="gameMainView">
				<ion-scroll style="height:100%;width:100%" scrollY="true" scrollbar-y="false">
					<game-select-01 (changeSelectedList)="changeSelectedList($event)" [units]="unitsData" [gameKey]="gameKey" #gameSelect01></game-select-01>
				</ion-scroll>
			</div>
		</div>
		<div *ngIf="activeIonicContent===1" style="width:100%;height:100%;">
				<iframe src="http://xdj-chat.atpeu.cn:8001/chatIM/?tk=ac99e1b1befeeda2dd17ea1801c1aefc&name=web" frameborder="0" style="width:100%;height:100%;"></iframe>
		</div>
	</div>
	<div class="gameFooter" *ngIf="activeIonicContent===0||activeIonicContent===3">
		<div class="row1">已经选中
			<span>{{selectedDatas.count}}</span> 注</div>
		<div class="row2">
			<input class="textInput" [ngModel]="buyAmount" (ngModelChange)="changeBuyAmount($event)" type="number" placeholder="输入金额">
			<input class="btnSubmit" ion-button (click)="checkOrder()" value="下注" type="submit">
			<input class="btnReset" ion-button (click)="gameSelect01.cencelSelected(true)" value="重置" type="submit">
		</div>
		<div class="prohibit" *ngIf="stop_remaining<=0">
			<span>已封盘</span>
		</div>
	</div>
</ion-content>

<!-- <ion-footer *ngIf="activeIonicContent===0">
	<div class="gameFooter">
		<div class="row1">已经选中 <span>{{selectedDatas.count}}</span> 注</div>
		<div class="row2">
			<input class="textInput" [ngModel]="buyAmount" (ngModelChange)="changeBuyAmount($event)" type="number" placeholder="输入金额">
			<input class="btnSubmit" ion-button (click)="checkOrder()" value="下注" type="submit">
			<input class="btnReset" ion-button (click)="gameSelect01.cencelSelected(true)" value="重置" type="submit">
		</div>
		<div class="prohibit" *ngIf="stop_remaining<=0" >
			<span>已封盘</span>
		</div>
	</div>
</ion-footer> -->