<ion-menu type="overlay" [content]="Menu" side="right">
	<ion-content class="gameSideMenu">
		<game-side-menu [gameKey]="gameKey" [panName]="activeGamePan"></game-side-menu>
	</ion-content>
</ion-menu>
<ion-header>
	<ion-toolbar color="primary" #Menu>
		<ion-buttons>
			<button ion-button (click)="goHome()">
				<span style="font-size: 13px;margin-left: 8px;">
					<切换彩种</span>
			</button>
		</ion-buttons>
		<ion-title (click)="presentActionSheet()">
			<span style="font-size: 14px;font-weight: normal;">{{gameName}}-{{activeGamePan}}盘</span>
			<ion-icon name="arrow-dropdown" style="font-size: 16px"></ion-icon>
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only menuToggle>
				<span style="font-size: 13px;margin-right: 8px;">451.45</span>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>
<ion-content scrollY="false">
	<div class="gamePageContainer">
		<div class="cont1">
			<ul class="gameTabCont">
				<li class="active">投注区</li>
				<li>聊天室</li>
			</ul>
			<opencode1 [gameKey]="gameKey" (changeStop_remaining)="changeStop_remaining($event)"></opencode1>
		</div>
		<div class="cont2">
			<div class="gameLeftView" style="">
				<ion-scroll style="height:100%;width:100%" scrollY="true" scrollbar-y="false">
					<div *ngFor="let item of gameStructure;let _index = index;">
						<a class="gameKey" [ngClass]="{'active':_index===activeGameType}" (click)="gameKeyClickEvent(_index)">{{item.name}}</a>
					</div>
				</ion-scroll>
			</div>
			<div class="gameMainView">
				<ion-scroll style="height:100%;width:100%" scrollY="true" scrollbar-y="false">
					<game-select-01 (changeSelectedList)="changeSelectedList($event)" [units]="unitsData" [gameKey]="gameKey" #gameSelect01></game-select-01>
				</ion-scroll>
			</div>
		</div>
	</div>
</ion-content>

<ion-footer>
	<div class="gameFooter">
		<div class="row1">已经选中 <span>{{selectedList.length}}</span> 注</div>
		<div class="row2">
			<input class="textInput" type="number" placeholder="输入金额">
			<input class="btnSubmit" ion-button (click)="checkOrder()" value="下注" type="submit">
			<input class="btnReset" ion-button (click)="gameSelect01.cencelSelected()" value="重置" type="submit">
		</div>
		<div class="prohibit" *ngIf="stop_remaining<=0" >
			<span>已封盘</span>
		</div>
	</div>
</ion-footer>