page-user-bet-list {

}
/*即时注单*/
.detail-header i{left: 0;}
.detail-info{padding:10px;background-color: #ededed;height: 100%;overflow-y: auto;}
.detail-info .list{background-color: #fff;font-size: 14px;padding: 5px;margin-bottom:10px;border-radius: 3px;}
.detail-info .list .title{padding-left: .100px; line-height: 40px;color: #d83547;border-bottom: 1px dashed #9f9f9f;}
.detail-info .list .title h3{font-size: 16px;}
.detail-info .list .container>div{width: 50%;text-align: center;color: #333;padding:10px 0 7.5px;}
.detail-info .list .container>div p{line-height: 35px;margin: 0;}
.detail-info .list .container .fl span{color: #d83547;border-bottom: 1px solid #d83547;}