page-account {

}
/*账户*/
.member-bg{background: #ecf4f9;}
.m-account-list{border-bottom:1px solid #e6e6e6;background:#fff;color:#333;padding:0px 15px;height:44px;line-height:44px;}
.height20{height:20px;clear:both;}
.height30{height:30px;clear:both;}