<!--
  Generated template for the RulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>{{gameName}}游戏规则</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<div class="help_text" *ngIf="gameKey=='cqssc'">
		<div class="step">
			<p>该游戏的投注时间、开奖时间和开奖号码与重庆时时彩完全同步，北京时间（GMT+8）每天白天从上午10：00开到晚上22：00，夜场从22：00至凌晨 2 点，每 10 分钟开一次奖，夜场每 5 分钟开一次奖，每天开奖 120 期（白天 72
				期，夜间 48 期）。 </p>
			<br>

			<h1>1、第一球 ~ 第五球</h1>
			<p>
				<b>第一球~第五球：</b>第一球、第二球、第三球、第四球、第五球：指下注的每一球与开出之号码其开奖顺序及开奖号码相同，视为中奖，如第一球开出号码 8，下注第一球为 8 者视为中奖，其余情形视为不中奖。 </p>
			<p>
				<b>单双大小：</b>根据相应单项投注第一球 ~ 第五球开出的球号，判断胜负。 </p>
			<p>
				<b>大小：</b>根据相应单项投注的第一球 ~ 第五球开出的球号大于或等于 5 为大，小于或等于 4 为小。 </p>
			<p>
				<b>单双：</b>根据相应单项投注的第一球 ~ 第五球开出的球号为双数则为双，如 2、6；球号为单数则为单，如 1、3。 </p>
			<br>

			<h1>2、总和龙虎（无退水）</h1>
			<p>
				<b>大小：</b>根据相应单项投注的第一球 ~ 第五球开出的球号数字总和值大于或等于 23 为总和大，小于或等于 22 为总和小。 </p>
			<p>
				<b>单双：</b>根据相应单项投注的第一球 ~ 第五球开出的球号数字总和值是双数为总和双，数字总和值是单数为总和单。 </p>
			<p>
				<b>龙：</b>开奖第一球（万位）的号码 大于 第五球（个位）的号码。如：第一球开出 6，第五球开出 2、第一球开出 8，第五球开出 6、第一球开出 5，第五球开出 1...开奖为龙，投注龙者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>虎：</b>开奖第一球（万位）的号码 小于 第五球（个位）的号码。如：第一球开出 2，第五球开出 6、第一球开出 6，第五球开出 8、第一球开出 1，第五球开出 5...开奖为虎，投注虎者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>和：</b>开奖第一球（万位）的号码&nbsp;等于&nbsp;第五球（个位）的号码。如：2XXX2、6XXX6、8XXX8...开奖为和，投注和者视为中奖，其它视为不中奖。 </p>
			<br>

			<h1>3、斗牛（无退水）：开奖号码不分顺序</h1>
			<p>
				<b>牛牛：</b>根据开奖第一球 ~ 第五球开出的球号数字为基础，任意组合三个号码成0或10的倍数，取剩余两个号码之和为点数（大于10时减去10后的数字作为对奖基数，如：00026为牛8，02818为牛9，68628、23500皆为牛10俗称牛牛；26378、15286因任意三个号码都无法组合成0或10的倍数，称为没牛，注：当五个号码相同时，只有00000视为牛牛，其它11111，66666等皆视为没牛）。</p>
			<p>
				<b>大小：</b>牛大(牛6,牛7,牛8,牛9,牛牛)，牛小(牛1,牛2,牛3,牛4,牛5)，若开出斗牛结果为没牛，则投注牛大牛小皆为不中奖。</p>
			<p>
				<b>单双：</b>牛单(牛1,牛3,牛5,牛7,牛9)，牛双(牛2,牛4,牛6,牛8,牛牛)，若开出斗牛结果为没牛，则投注牛单牛双皆为不中奖。</p>
			<br>

			<h1>4、梭哈（无退水）：开奖号码不分顺序</h1>
			<p>
				<b>五条：</b>开奖的五个号码全部相同，例如：22222、66666、88888 投注梭哈：五条 中奖，其它不中奖</p>
			<p>
				<b>四条：</b>开奖的五个号码中有四个号码相同，例如：22221、66663、88885 投注梭哈：四条 中奖，其它不中奖。</p>
			<p>
				<b>葫芦：</b>开奖的五个号码中有三个号码相同(三条)另外两个号码也相同(一对)，例如：22211、66633 投注梭哈：葫芦 中奖，其它不中奖。</p>
			<p>
				<b>顺子：</b>开奖的五个号码从小到大排列为顺序(号码9、0、1相连)，例如：23456、89012、90123 投注梭哈：顺子 中奖，其它不中奖。</p>
			<p>
				<b>三条：</b>开奖的五个号码中有三个号码相同另外两个不相同，例如：22231、66623、88895 投注梭哈：三条 中奖，其它不中奖。</p>
			<p>
				<b>两对：</b>开奖的五个号码中有两组号码相同，例如：22166、66355、82668 投注梭哈：两对 中奖，其它不中奖。</p>
			<p>
				<b>一对：</b>开奖的五个号码中只有一组号码相同，例如：22168、66315、82968 投注梭哈：一对 中奖，其它不中奖。</p>
			<p>
				<b>散号：</b>开奖号码不是五条、四条、葫芦、三条、顺子、两对、一对的其它所有开奖号码，例如：23186、13579、21968 投注梭哈：散号 中奖，其它不中奖。</p>
			<br>

			<h1>5、前三特殊玩法（无退水）： 豹子 &gt; 顺子 &gt; 对子 &gt; 半顺 &gt; 杂六</h1>
			<p>
				<b>豹子：</b>开奖号码的万位千位百位数字都相同。如中奖号码为：222XX、666XX、888XX...开奖号码的万位千位百位数字相同，则投注前三豹子者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>顺子：</b>开奖号码的万位千位百位数字都相连，不分顺序（数字9、0、1相连）。如中奖号码为：123XX、901XX、321XX、798XX...开奖号码的万位千位百位数字相连，则投注前三顺子者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>对子：</b>开奖号码的万位千位百位任意两位数字相同（不包括豹子）。如中奖号码为：001XX，288XX、696XX...开奖号码的万位千位百位有两位数字相同，则投注前三对子者视为中奖，其它视为不中奖。如果开奖号码为前三豹子，则前三对子视为不中奖。
			</p>
			<p>
				<b>半顺：</b>开奖号码的万位千位百位任意两位数字相连，不分顺序（不包括顺子、对子）。如中奖号码为：125XX、540XX、390XX、160XX...开奖号码的万位千位百位有两位数字相连，则投注前三半顺者视为中奖，其它视为不中奖。如果开奖号码为前三顺子、前三对子，则前三半顺视为不中奖。如开奖号码为：123XX、901XX、556XX、233XX...视为不中奖。
			</p>
			<p>
				<b>杂六：</b>不包括豹子、对子、顺子、半顺的所有开奖号码。如开奖号码为：157XX、268XX...开奖号码位数之间无关联性，则投注前三杂六者视为中奖，其它视为不中奖。 </p>
			<br>

			<h1>6、中三特殊玩法（无退水）： 豹子 &gt; 顺子 &gt; 对子 &gt; 半顺 &gt; 杂六</h1>
			<p>
				<b>豹子：</b>开奖号码的千位百位十位数字都相同。如中奖号码为：X222X、X666X、X888X...开奖号码的千位百位十位数字相同，则投注中三豹子者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>顺子：</b>开奖号码的千位百位十位数字都相连，不分顺序（数字9、0、1相连）。如中奖号码为：X123X、X901X、X321X、X798X...开奖号码的千位百位十位数字相连，则投注中三顺子者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>对子：</b>开奖号码的千位百位十位任意两位数字相同（不包括豹子）。如中奖号码为：X001X，X288X、X696X...开奖号码的千位百位十位有两位数字相同，则投注中三对子者视为中奖，其它视为不中奖。如果开奖号码为中三豹子，则中三对子视为不中奖。
			</p>
			<p>
				<b>半顺：</b>开奖号码的千位百位十位任意两位数字相连，不分顺序（不包括顺子、对子）。如中奖号码为：X125X、X540X、X390X、X160X...开奖号码的千位百位十位有两位数字相连，则投注中三半顺者视为中奖，其它视为不中奖。如果开奖号码为中三顺子、中三对子，则中三半顺视为不中奖。如开奖号码为：X123X、X901X、X556X、X233X...视为不中奖。
			</p>
			<p>
				<b>杂六：</b>不包括豹子、对子、顺子、半顺的所有开奖号码。如开奖号码为：X157X、X268X...开奖号码位数之间无关联性，则投注中三杂六者视为中奖，其它视为不中奖。 </p>
			<br>

			<h1>7、后三特殊玩法（无退水）： 豹子 &gt; 顺子 &gt; 对子 &gt; 半顺 &gt; 杂六</h1>
			<p>
				<b>豹子：</b>开奖号码的百位十位个位数字都相同。如中奖号码为：XX222、XX666、XX888...开奖号码的百位十位个位数字相同，则投注后三豹子者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>顺子：</b>开奖号码的百位十位个位数字都相连，不分顺序（数字9、0、1相连）。如中奖号码为：XX123、XX901、XX321、XX798...开奖号码的百位十位个位数字相连，则投注后三顺子者视为中奖，其它视为不中奖。 </p>
			<p>
				<b>对子：</b>开奖号码的百位十位个位任意两位数字相同（不包括豹子）。如中奖号码为：XX001，XX288、XX696...开奖号码的百位十位个位有两位数字相同，则投注后三对子者视为中奖，其它视为不中奖。如果开奖号码为后三豹子，则后三对子视为不中奖。
			</p>
			<p>
				<b>半顺：</b>开奖号码的百位十位个位任意两位数字相连，不分顺序（不包括顺子、对子）。如中奖号码为：XX125、XX540、XX390、XX160...开奖号码的百位十位个位有两位数字相连，则投注后三半顺者视为中奖，其它视为不中奖。如果开奖号码为后三顺子、后三对子，则后三半顺视为不中奖。如开奖号码为：XX123、XX901、XX556、XX233...视为不中奖。
			</p>
			<p>
				<b>杂六：</b>不包括豹子、对子、顺子、半顺的所有开奖号码。如开奖号码为：XX157、XX268...开奖号码位数之间无关联性，则投注后三杂六者视为中奖，其它视为不中奖。 </p>
			<br>

			<p></p>
		</div>
	</div>
	<div class="help_text" *ngIf="gameKey=='bjpk10'">
		<div class="step">
			<p> 该游戏的投注时间、开奖时间和开奖号码与"北京PK拾"完全同步，北京时间（GMT+8）每天白天从上午09:02开到晚上23:57，每5分鐘开一次奖,每天开奖179期。</p>
			<h1>1、第一名 ~ 第十名</h1>
			<p>
				<b>第一名~第十名：</b>
				<br>
				<span>车号指定，每一个车号为一投注组合，开奖结果"投注车号"对应所投名次视为中奖，其余情形视为不中奖。
					<span></span>
				</span>
			</p>
			<p>
				<b>两面：</b>
				<br>
				<span>指单、双；大、小。</span>
				<br>
				<span>单、双：号码为双数叫双，如8、10；号码为单数叫单，如9、5。</span>
				<br>
				<span>大、小：开出之号码大于或等于6为大，小于或等于5为小。</span>
				<br>
			</p>
			<p>
				<b>1~5龙虎：</b>
				<br>
				<span>冠　军 龙/虎："第一名"车号大于"第十名"车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>亚　军 龙/虎："第二名"车号大于"第九名"车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>第三名 龙/虎："第三名"车号大于"第八名"车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>第四名 龙/虎："第四名"车号大于"第七名"车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>第五名 龙/虎："第五名"车号大于"第六名"车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
			</p>
			<br>
			<h1>2、冠亚和值</h1>
			<p>
				<b></b>
			</p>
			<p>
				<b>冠军车号＋亚军车号＝冠亚和值：</b>
				<br>
				<span>可能出现的结果为3～19， 投中对应"冠亚和值"数字的视为中奖，其余视为不中奖。</span>
			</p>
			<p>
				<b>冠亚和大小：</b>
				<br>
				<span>大于11时投注"大"的注单视为中奖，小于11时投注"小"的注单视为中奖，等于11时为和。</span>
			</p>
			<p>
				<b>冠亚和单双：</b>
				<br>
				<span>为单视为投注"单"的注单视为中奖，为双视为投注"双"的注单视为中奖，等于11时为和。</span>
			</p>
			<br>
		</div>
	</div>

	<div class="help_text" *ngIf="gameKey=='xyft'">

		<div class="step">

			<p> 该游戏的投注时间、开奖时间和开奖号码与"马耳他幸运飞艇"完全同步，北京时间（GMT+8）每天从下午13:04开到次日凌晨04:09，每5分鐘开一次奖,每天开奖180期。</p>
			<h1>1、第一名 ~ 第十名</h1>
			<p>
				<b>第一名~第十名：</b>
				<br>
				<span>艇号指定，每一个艇号为一投注组合，开奖结果"投注艇号"对应所投名次视为中奖，其余情形视为不中奖。
					<span></span>
				</span>
			</p>
			<p>
				<b>两面：</b>
				<br>
				<span>指单、双；大、小。</span>
				<br>
				<span>单、双：号码为双数叫双，如8、10；号码为单数叫单，如9、5。</span>
				<br>
				<span>大、小：开出之号码大于或等于6为大，小于或等于5为小。</span>
				<br>
			</p>
			<p>
				<b>1~5龙虎：</b>
				<br>
				<span>冠　军 龙/虎："第一名"艇号大于"第十名"艇号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>亚　军 龙/虎："第二名"艇号大于"第九名"艇号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>第三名 龙/虎："第三名"艇号大于"第八名"艇号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>第四名 龙/虎："第四名"艇号大于"第七名"艇号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
				<span>第五名 龙/虎："第五名"艇号大于"第六名"艇号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</span>
				<br>
			</p>
			<br>

			<h1>2、冠亚和值</h1>
			<p>
				<b></b>
			</p>
			<p>
				<b>冠军艇号＋亚军艇号＝冠亚和值：</b>
				<br>
				<span>可能出现的结果为3～19， 投中对应"冠亚和值"数字的视为中奖，其余视为不中奖。</span>
			</p>
			<p>
				<b>冠亚和大小：</b>
				<br>
				<span>大于11时投注"大"的注单视为中奖，小于11时投注"小"的注单视为中奖，等于11时为和。</span>
			</p>
			<p>
				<b>冠亚和单双：</b>
				<br>
				<span>为单视为投注"单"的注单视为中奖，为双视为投注"双"的注单视为中奖，等于11时为和。</span>
			</p>
			<br>
		</div>

	</div>

	<div class="help_text" *ngIf="gameKey=='hklhc'" >

		<div class="step">

			<p>每期香港六合彩开奖球数共七粒。最后一粒称之为特码，开奖时间通常为开奖日的21:30分</p>
			<br>
			<h1>特殊玩法说明</h1>
			<h1>两面：</h1>
			<p>指单、双；大、小、合大、合小、尾大、尾小、尾单、尾双。 </p>
			<p>
				<b>单、双：</b>号码为双数叫双，如8、16；号码为单数叫单，如21、35，开出49为和。 </p>
			<p>
				<b>大、小：</b>开出之号码大于或等于25为大， 小于或等于24为小，开出49为和。 </p>
			<p>
				<b>合单、合双：</b>以号码个位和十位数字之和来判断单双，如01，12，32为和单，02，11，33为和双，开出49号为和。</p>
			<p>
				<b>合大、合小：</b>以号码个位和十位数字之和来判断胜负，和数大于或等于7为大，小于或等于6为小，开出49号为和。 </p>
			<p>
				<b>尾大、尾小：</b>以号码尾数若0尾~4尾为小、5尾~9尾为大；如01、32、44为尾小；如05、18、19为尾大，开出49号为和</p>
			<br>
			<h1>波色：</h1>
			<p>以号码的球色下注，开奖的球色与下注的颜色相同，视为中奖，球色号码分布如下:</p>
			<p>
				<b>红波：</b>01、02、07、08、12、13、18、19、23、24、29、30、34、35、40、45、46</p>
			<p>
				<b>蓝波：</b>03、04、09、10、14、15、20、25、26、31、36、37、41、42、47、48</p>
			<p>
				<b>绿波：</b>05、06、11、16、17、21、22、27、28、32、33、38、39、43、44、49</p>
			<br>
			<h1>生肖：</h1>
			<p>生肖顺序为 鼠 &gt;牛 &gt;虎 &gt;兔 &gt;龙 &gt;蛇 &gt;马 &gt;羊 &gt;猴 &gt;鸡 &gt;狗 &gt;猪 </p>
			<p> 如本年是鸡年，就以鸡为开始，依顺序将49个号码分为12个生肖(如下)，再以生肖下注。</p>
			<p>若开出的号码在下注生肖范围内，视为中奖 。 </p>
			<p>鸡 01 , 13 , 25 , 37 , 49 </p>
			<p>狗 12 , 24 , 36 , 48</p>
			<p>猪 11 , 23 , 35 , 47</p>
			<p>鼠 10 , 22 , 34 , 46</p>
			<p>牛 09 , 21 , 33 , 45</p>
			<p>虎 08 , 20 , 32 , 44</p>
			<p>兔 07 , 19 , 31 , 43</p>
			<p>龙 06 , 18 , 30 , 42</p>
			<p>蛇 05 , 17 , 29 , 41</p>
			<p>马 04 , 16 , 28 , 40</p>
			<p>羊 03 , 15 , 27 , 39</p>
			<p>猴 02 , 14 , 26 , 38</p>
			<br>
			<h1>家禽野兽：</h1>
			<p>开出的特码属于十二生肖中的牛、马、羊、鸡、狗、猪号码为家禽，属于十二生肖中的鼠、虎、龙、蛇、兔、猴号码为野兽；开出 49则视为和局。</p>
			<br>

			<h1>一、特码</h1>
			<br>
			<p>
				<b>特码：</b>下注的号码与开奖特别号码相同，视为中奖，如特码开出号码 8，下注特码为 8 者视为中奖，其余情形视为不中奖。</p>

			<h1>二、正码</h1>
			<br>
			<p>当期开出的奖号中前6个号码叫正码。只要下注的号码和任意一个正码相同，视为中奖， 如现场摇珠正码开奖为01 02 03 04 05 06+07，下注01、02、03、04、05或06都视为中奖，其它号码视为不中奖。</p>
			<p>正码总和、总尾、龙虎：正码和值大于或等于150为大，小于或等于149为小。每个正码尾数之和大于或等于30为大，小于或等于29为小。正码1大于正码6为龙，正码1小于正码6为虎。</p>
			<br>
			<h1>三、正码特</h1>
			<br>
			<p>正码特是指正码按顺序的特指：当期开出的奖号中前6个号码叫正码。第一个顺序的奖号叫正1特，依次为正2特、正3特、正4特、正5特和正6特。其下注的号码与该顺序位数的开奖号码相同，视为中奖， 如现场摇珠第一个正码开奖为49号，下注正1特为49则视为中奖，其它号码视为不中奖。</p>
			<br>

			<h1>四、正码1-6</h1>
			<br>
			<p>正码特的双面玩法。</p>
			<p>参考“特殊玩法说明”。</p>
			<br>

			<h1>五、过关</h1>
			<br>
			<p>任选2-8个号码为一投注组合，其赔率为所选号码当时赔率的总乘积。投注组合所选内容必须全部正确中奖才视为注单中奖。当开奖结果中某一号码为49时，其单双大小绿波为和，赔率以1计算。如正码开01，02，03，04，05，49时，下注正码1@单@1.9,正码2@小@2.85,正码6@大@1.9，中奖赔率为1.9
				X 2.85 X 1 = 5.415。</p>
			<br>

			<h1>六、连码</h1>
			<br>
			<p>1· 三全中： 所投注的每3个号码为一组合，若3个号码都是开奖号码的正码，视为中奖，其余情形视为不中奖。如06、07、08三个都是开奖号码的正码，视为中奖，如两个正码加上一个特别号码视为不中奖 。
			</p>
			<p>2· 三中二： 所投注的每3个号码为一组合，若其中2个是开奖号码中的正码，即为三中二，视为中奖； 若3个都是开奖号码中的正码，即为三中二之中三，其余情形视为不中奖，如06、07、08 为一组合，开奖号码中有06、07两个正码，没有08，即为三中二，按三中二赔付；如开奖号码中有06、07、08三个正，即为三中二之中三，按中三赔付。</p>
			<p>3· 二全中： 所投注的每2个号码为一组合，若2个号码都是开奖号码的正码，视为中奖，其余情形视为不中奖（含一个正码加一个特码）。</p>
			<p>4· 二中特： 所投注的每2个号码为一组合，若2个号码都是开奖号码的正码，即为中二，按二中特的中二赔率赔付；若其中1个是正码，1个是特码，即为中特，按二中特的中特赔率赔付；其余情形视为不中奖 。</p>
			<p>5· 特串： 所投注的每2个号码为一组合，其中1个是正码，1个是特别号码，视为中奖，其余情形视为不中奖（正码和特码相同忽略正码） 。</p>
			<p>6· 四全中： 所投注的每4个号码为一组合，若4个号码都是开奖号码之正码，视为中奖，其余情形视为不中奖。如06、07、08、09四个都是开奖号码之正码，视为中奖，如三个正码加上一个特别号码视为不中奖。</p>
			<br>

			<h1>七、半波</h1>
			<br>
			<p>以特码色波和特单，特双，特大，特小每两种为一个投注组合，当期特码开出符合投注组合，即视为中奖； 若当期特码开出49号，则视为和局；其余情形视为不中奖。 </p>
			<br>

			<h1>八、一肖/尾数</h1>
			<br>
			<h1>一肖：</h1>
			<p>只要当期开奖号码(所有正码和特码)，开出下注生肖的号码，则视为中奖。 (请注意：49亦算输赢，不为和)。 </p>
			<h1>尾数：</h1>
			<p>只要当期开奖号码(所有正码和特码)，开出下注尾数的号码，不论同尾数的号码出现一个或多个，派彩只派一次。 </p>
			<br>

			<h1>九、生肖特码</h1>
			<br>
			<p>开奖号码中的最后一位特码的生肖和下注生肖相同，视为中奖，其余情形视为不中奖。 </p>
			<br>

			<h1>十、合肖</h1>
			<br>
			<p>选2-11生肖为一组合，若该组合内含有当期开奖号码的特码生肖则视为中奖，其他情形不中奖；若当期特码开出49号，则所有组合皆视为和局。</p>
			<br>

			<h1>十一、生肖连</h1>
			<br>
			<p>选2-5生肖为一个组合，当期开奖号码(所有正码和特码)开出单个组合的全部生肖至少各一个，则视为中奖，赔率取中奖生肖组合中较低值，其余情况视为不中奖(请注意49亦算输赢，不为和)。</p>
			<p>特别说明：连中为全部包含投注内容的每一个生肖至少一个；连不中为不包含注内容的每一个生肖。 </p>
			<p>注数说明：下注二肖连中，勾选鼠,猴，为一注；勾选鼠,牛,蛇，为3注（鼠,牛；鼠，蛇；牛,蛇）。 </p>
			<p>赔率说明：下注二肖连中，勾选鼠@4.35,猴@3.8，奖号中包含06（鼠）,01（猴），赔率为3.8；勾选鼠@4.35,猪@4.35，奖号中包含06（鼠）,10（猪），赔率为4.35。；勾选鼠@4.35,猴@3.8,猪@4.35，奖号中包含06（鼠）,01（猴），不包含猪，赔率为3.8（平均中奖赔率）×1(中奖注数)÷3（下注注数）=1.267，依此类推。
				</p>
			<br>

			<h1>十二、尾数连</h1>
			<br>
			<p>选2-4个尾数为一组合，当期开奖号码(所有正码和特码)开出单个组合的全部尾数号码至少各一个，则视为中奖，赔率取中奖生肖组合中较低值，其余情形视为不中奖(请注意49亦算输赢，不为和) 。</p>
			<p>特别说明：连中为全部包含投注内容的每一个尾数至少一个；连不中为不包含投注内容的每一个尾数。 </p>
			<p>注数说明：下注二尾连中，勾选0,1，为一注；勾选0,1,2，为3注（0,1；0,2；1,2）。 </p>
			<p>赔率说明：下注二尾连中，勾选0@3.8,1@4.35，奖号中包含10（0）,11（1），赔率为3.8；勾选1@4.35,2@4.35，奖号中包含01（1）,12（2），赔率为4.35。；勾选0@3.8,1@4.35,2@4.35，奖号中包含10（0）,01（1），不包含2尾，赔率为3.8（平均中奖赔率）×1(中奖注数)÷3（下注注数）=1.267，依此类推。
				</p>
			<br>

			<h1>十三、全不中</h1>
			<br>
			<p>选5~12个号码为一个组合，当期开奖号码(所有正码和特码)不包含投注组合中的每一个号码，则视为中奖，若是有任何一个当期号码开在所挑选的号码组合情形视为不中奖。 </p>
			<p>例如当期号码为19,24,17,34,40,39,特别号49，所挑选5个号码(称为五不中)01,02,03,04,05，则为中奖。</p>
			<p>多选注数计算和赔率计算参考生肖连和尾数连。</p>
		</div>

	</div>
</ion-content>