<ion-header>
  <ion-toolbar color="primary">
    <div class="homeHeader">
    	<img src="./assets/img/index-logo.png">
    	<a (click)="goPage(UserIndexPage)"><i class="iconfont icon-ren"></i><!-- username --></a>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <ion-refresher (ionRefresh)="doRefresh($event)"> 
	<ion-refresher-content
    	pullingIcon="arrow-dropdown"
        pullingText="下拉刷新"
        refreshingSpinner="circles"
        refreshingText="刷新..."> 
    </ion-refresher-content>
</ion-refresher>

</ion-content> -->
<ion-content class="index-content">
	<div class="banner"><img class="full-image" src="./assets/img/index-banner.jpg" alt=""></div>

	<div class="message-move">
		<div class="box">
			<i class="iconfont icon-laba assertive font28"></i>
		</div>
		<div class="move">
			<p class="info">尊敬的会员您好！在线第三方扫码充值系统维护升级，期间请咨询在线客服索取最新人工支付宝转账充值。给您带来不便敬请谅解，祝您游戏愉快~  </p>
		</div>
	</div>

	<div class="game-class">
		<div class="noGame" *ngIf="!gameList_online">服务器加载游戏错误...</div>
		<div class="row-game">
			<a class="col-game" (click)="goPage(GameCenterPage,'cqssc')" *ngIf="gameList_online.cqssc">
				<img src="./assets/uploads/shishicai-img.png" alt="">
				<p>重庆时时彩]</p>
			</a>
			<a class="col-game" (click)="goPage(GameCenterPage,'bjpk10')" *ngIf="gameList_online.cqssc">
				<img src="./assets/uploads/pk-img.png" alt="">
				<p>北京PK10</p>
			</a>
			<a class="col-game" (click)="goPage(GameCenterPage,'xyft')" *ngIf="gameList_online.cqssc">
				<img src="./assets/uploads/lucky-img.png" alt="">
				<p>幸运飞艇</p>
			</a>
			<a class="col-game" (click)="goPage(GameCenterPage,'hklhc')" *ngIf="gameList_online.cqssc">
				<img src="./assets/uploads/liuhecai-img.png" alt="">
				<p>香港六合彩</p>
			</a>
			<a class="col-game" (click)="goPage(GameCenterPage,'bjft')" *ngIf="gameList_online.cqssc">
				<img src="./assets/uploads/shishicai-img.png" alt="">
				<p>番摊(北京)</p>
			</a>
			<a class="col-game" (click)="goPage(GameCenterPage,'cqft')" *ngIf="gameList_online.cqssc">
				<img src="./assets/uploads/shishicai-img.png" alt="">
				<p>番摊(重庆)</p>
			</a>
			<a class="col-game" (click)="goPage(GameCenterPage,'jnd28')" *ngIf="gameList_online.cqssc">
				<img src="./assets/uploads/shishicai-img.png" alt="">
				<p>加拿大28</p>
			</a>
		</div>
	</div>
</ion-content>
<ion-footer>
  <div class="tabs tabs-icon-top tabs-assertive">
		<a class="tab-item" (click)="goPage(BankDealPage)">
			<i class="iconfont icon-yinxingqiajiaoyihuoyuedujiancha"></i>
			银行交易
		</a>
		<a class="tab-item" (click)="goPage(ReportPage)">
			<i class="iconfont icon-zhuanhuan"></i>
			投注报表
		</a>
		<a class="tab-item" (click)="goPage(MsgListPage)">
			<i class="iconfont icon-xinxi"></i>
			信息中心
		</a>
		<a class="tab-item" (click)="goPage(CustomeSePage)">
			<i class="iconfont icon-kefu"></i>
			客服
		</a>
	</div>
</ion-footer>