<ion-header>
	<ion-toolbar color="primary">
		<div class="homeHeader">
			<img src="./assets/img/index-logo.png">
			<a (click)="goPage(UserIndexPage)">
				<i class="iconfont icon-ren"></i>
				{{username}}
			</a>
		</div>
	</ion-toolbar>
</ion-header>
<ion-content>
	<!-- <ion-refresher (ionRefresh)="doRefresh($event)"> 
	<ion-refresher-content
    	pullingIcon="arrow-dropdown"
        pullingText="下拉刷新"
        refreshingSpinner="circles"
        refreshingText="刷新..."> 
    </ion-refresher-content>
</ion-refresher>

</ion-content> -->
	<ion-content class="index-content">
		<div class="banner">
			<ion-slides pager loop="true" autoplay="3000" #slides>
				<ion-slide>
					<img src="./assets/img/index-banner-2.png" alt="">
				</ion-slide>
				<ion-slide>
						<img src="./assets/img/index-banner-1.png" alt="">
				</ion-slide>
				<ion-slide>
						<img src="./assets/img/index-banner-3.png" alt="">
				</ion-slide>
			</ion-slides>
			<!-- <img class="full-image" src="./assets/img/index-banner.jpg" alt=""> -->
		</div>

		<div class="message-move">
			<div class="box">
				<i class="iconfont icon-laba assertive font28"></i>
			</div>
			<div class="move">
				<p class="info" (click)="goMsgPage()" >{{newsData.title}}</p>
			</div>
		</div>

		<div class="game-class">
			<!-- <div class="noGame">服务器加载游戏错误...</div> -->
			<div class="row-game">
				<a class="col-game" *ngFor="let item of gamesList" (click)="gameCenter(item)">
					<img src="./assets/uploads/shishicai-img.png" alt="{{item.gamename}}" *ngIf="item.gamekey=='cqssc'">
					<img src="./assets/uploads/pk-img.png" alt="{{item.gamename}}" *ngIf="item.gamekey=='bjpk10'">
					<img src="./assets/uploads/lucky-img.png" alt="{{item.gamename}}" *ngIf="item.gamekey=='xyft'">
					<img src="./assets/uploads/liuhecai-img.png" alt="{{item.gamename}}" *ngIf="item.gamekey=='hklhc'">
					<img src="./assets/uploads/shishicai-img.png" alt="{{item.gamename}}" *ngIf="item.gamekey=='bjft'">
					<img src="./assets/uploads/shishicai-img.png" alt="{{item.gamename}}" *ngIf="item.gamekey=='cqft'">
					<img src="./assets/uploads/shishicai-img.png" alt="{{item.gamename}}" *ngIf="item.gamekey=='jnd28'">
					<p>{{item.gamename}}</p>
				</a>
			</div>
		</div>
	</ion-content>
	<ion-footer>
		<div class="tabs tabs-icon-top tabs-assertive">
			<a class="tab-item" (click)="goPage(BankDealPage)">
				<i class="iconfont icon-yinxingqiajiaoyihuoyuedujiancha"></i>
				银行交易
			</a>
			<a class="tab-item" (click)="goPage(ReportPage)">
				<i class="iconfont icon-zhuanhuan"></i>
				投注报表
			</a>
			<a class="tab-item" (click)="goPage(MsgListPage)">
				<i class="iconfont icon-xinxi"></i>
				信息中心
			</a>
			<a class="tab-item" (click)="customer()">
				<i class="iconfont icon-kefu"></i>
				客服
			</a>
		</div>
	</ion-footer>