/*时时彩*/
.bj-data-num{padding-bottom: 5px;border-bottom:1px solid #eee;}
.number.num.clearfix{padding:5px 10px}
.data-content{padding:10px;}
.data-content .active time{border:1px solid #d83547;}
.data-content span{margin-right: 12px;}
.data-content .clearfix>div{width: 49%;}
.data-content time{border:1px solid #333333;border-radius: 2px;text-align: center;padding:2px 10px;}



/*北京pk*/

.pk10 span {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 1px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    font-style: italic;
}
.pk10 span.number0{background:#4312fe;}
.pk10 span.number1{background:#61e5e4;}
.pk10 span.number2{background:#8b8b8b;}
.pk10 span.number3{background:#ed6e11;}
.pk10 span.number4{background:#6b0206;}
.pk10 span.number5{background:#ffd014;}
.pk10 span.number6{background:#2983f7;}
.pk10 span.number7{background:#34c119;}
.pk10 span.number8{background:#f8020f;}
.pk10 span.number9{background:#e3de57;}
.pk10 span.number10{background:#4312fe;}

.icon-zhuanhuan2:before{
    content:'\e606'
}
.hklhc_bgColor.bold{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 5px 5px 0;
    font-size: 13px;
    line-height: 24px;
}
.hklhc_bgColor.lhc-bgRed, .hklhc_bgColor.lhc-bgBlue, .hklhc_bgColor.lhc-bgGreen{
    width: 24px;
    height: 24px;
    margin: 0 5px 5px 0;
    font-size: 13px;
    line-height: 24px;
}
@media screen and (max-width: 321px) {
    .pk10 span {
        width: 18px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
    }
    .num time{font-size: 12px}
    .data-content span{font-size: 12px;}
    .colView .colBox .row{font-size: 13px;}
    .ball-color-yellow, .recYellow{width: 20px;height: 20px;line-height: 20px;font-size: 12px;}
    .hklhc_bgColor.lhc-bgRed, .hklhc_bgColor.lhc-bgBlue, .hklhc_bgColor.lhc-bgGreen{
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
    }
    .icon-zhuanhuan2{font-size: 14px;}
    .hklhc_bgColor.bold{ width: 18px; height: 18px;line-height: 18px;font-size: 12px;}
    .ft .ft-header .fl.ft{font-size: 12px;}
    .ft .ft-circle.ft-circle-min{width:18px;height:18px;}
}