 <ion-list class="text-center">
    <ion-item nav-clear menuClose (click)="goPage(ReportPage)">
    	<i class="iconfont icon-money assertive" style="color:#d83547"></i>投注报表
    </ion-item>
    <ion-item nav-clear menuClose (click)="goPage(UserBetListPage)">
    	<i class="iconfont icon-quick assertive" style="color: #11c1f3;"></i>即时投注
    </ion-item>
    <ion-item nav-clear menuClose (click)="goPage(ResultPage)">
    	<i class="iconfont icon-jiangbeixianxing assertive" style="color: #ffc900;"></i>开奖结果
    </ion-item>
    <ion-item nav-clear menuClose (click)="goPage(RulesPage)">
    	<i class="iconfont icon-guize assertive" style="color: #886aea;"></i>游戏规则
    </ion-item>
    <ion-item nav-clear menuClose (click)="goPage(BankDealPage)">
    	<i class="iconfont icon-chongzhi assertive" style="color: #33cd5f;"></i>充值提现
    </ion-item>
</ion-list>