game-side-menu {

}

.gameSideMenu{
	background-color: #2c2c3e;
	.item-ios{
		background:none;
		color:#fff;
		text-align:center;
		font-size:16px;
		.iconfont{
			font-size:18px;
			margin-right:8px;
		}
	}
}

