<ion-menu type="overlay" [content]="Menu" side="right">
	<ion-content class="gameSideMenu">
		<game-side-menu [gameKey]="gameKey" [panName]="activeGamePan"></game-side-menu>
	</ion-content>
</ion-menu>
<ion-header>
	<ion-toolbar color="primary" #Menu>
		<ion-buttons>
			<button ion-button (click)="goHome()">
				<span style="font-size: 13px;margin-left: 8px;">
					<切换彩种</span>
			</button>
		</ion-buttons>
		<ion-title (click)="presentActionSheet()">
			<span style="font-size: 14px;font-weight: normal;">{{gameName}}-{{activeGamePan}}盘</span>
			<ion-icon name="arrow-dropdown" style="font-size: 16px"></ion-icon>
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only menuToggle>
				<span style="font-size: 13px;margin-right: 8px;">{{memberAmount}}</span>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="gamePageContainer ft">
		<div class="cont1">
			<ul class="gameTabCont">
				<li class="active">投注区</li>
				<li>综合过关</li>
				<li>聊天室</li>
			</ul>
			<opencode1 [gameKey]="gameKey" (changeStop_remaining)="changeStop_remaining($event)" (setExpect)="setExpect($event)"></opencode1>
		</div>

		<div class="">
			<div class="height5"></div>
			<div class="ft-table" style="padding-bottom: 0">
				<div class="ft-table-header row" style="padding: 0">
					<div class="col-34 active">前三</div>
					<div class="col-34">中三</div>
					<div class="col-34">后三</div>
				</div>
				<table class="ft-box" border="1">
					<tbody>
						<tr>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span class="bgR">1</span>
							</td>
							<td>
								<span class="bgB">2</span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
							<td>
								<span></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="height5"></div>
			<div class="ft-table">
				<table class="right guoguan-table br" *ngIf="gameStructure[activeGameType].units">
					<tbody>
						<tr>
							<td>
								<span>{{gameStructure[activeGameType].units[3].nums['3-4角'].name}}</span>
								<p>{{gameStructure[activeGameType].units[3].nums['3-4角'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['3念4'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['3念4'].price}}</p>
							</td>
							<td colspan="2">
								<span>{{gameStructure[activeGameType].units[4].nums['3念1'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['3念1'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['3念2'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['3念2'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[3].nums['2-3角'].name}}</span>
								<p>{{gameStructure[activeGameType].units[3].nums['2-3角'].price}}</p>
							</td>
						</tr>
						<tr>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['4念3'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['4念3'].price}}</p>
							</td>
							<td colspan="4">
								<span>{{gameStructure[activeGameType].units[2].nums['3番'].name}}</span>
								<p>{{gameStructure[activeGameType].units[2].nums['3番'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['2念3'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['2念3'].price}}</p>
							</td>
						</tr>
						<tr>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['4念2'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['4念2'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[2].nums['4番'].name}}</span>
								<p>{{gameStructure[activeGameType].units[2].nums['4番'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[0].nums['单'].name}}</span>
								<p>{{gameStructure[activeGameType].units[0].nums['单'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[0].nums['双'].name}}</span>
								<p>{{gameStructure[activeGameType].units[0].nums['双'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[2].nums['2番'].name}}</span>
								<p>{{gameStructure[activeGameType].units[2].nums['2番'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['2念4'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['2念4'].price}}</p>
							</td>
						</tr>
						<tr>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['4念1'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['4念1'].price}}</p>
							</td>
							<td colspan="4">
								<span>{{gameStructure[activeGameType].units[2].nums['1番'].name}}</span>
								<p>{{gameStructure[activeGameType].units[2].nums['1番'].price}}</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['2念1'].name}}</span>
								<p>{{gameStructure[activeGameType].units[4].nums['2念1'].price}}</p>
							</td>
						</tr>
						<tr>
							<td>
								<span>1-4角</span>
								<p>000</p>
							</td>
							<td>
								<span>{{gameStructure[activeGameType].units[4].nums['1念4'].name}}</span>
									<p>{{gameStructure[activeGameType].units[4].nums['1念4'].price}}</p>
							</td>
							<td colspan="2">
								<span>1念3</span>
								<p>2.9</p>
							</td>
							<td>
								<span>1念2</span>
								<p>2.9</p>
							</td>
							<td>
								<span>1-2角</span>
								<p>1.95</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="height5"></div>
			<div class="ft-table">
				<div class="ft-table-header">
					正
				</div>
				<table class="right guoguan-table br">
					<tbody>
						<tr>
							<td>
								<span>1正</span>
								<p>1.95</p>
							</td>
							<td>
								<span>2正</span>
								<p>1.95</p>
							</td>
							<td>
								<span>3正</span>
								<p>3.85</p>
							</td>
							<td>
								<span>4正</span>
								<p>3.85</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="height5"></div>
			<div class="ft-table">
				<table class="right guoguan-table br">
					<thead>
						<tr class="ft-table-header">
							<td>三门</td>
							<td colspan="3">通</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span>1 2 3</span>
								<p>1.31</p>
							</td>
							<td>
								<span>2 3 一通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>2 4 一通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>3 4一通</span>
								<p>1.475</p>
							</td>
						</tr>
						<tr>
							<td>
								<span>1 2 4</span>
								<p>1.31</p>
							</td>
							<td>
								<span>2 3 二通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>2 4 二通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>3 4 二通</span>
								<p>1.475</p>
							</td>
						</tr>
						<tr>
							<td>
								<span>1 3 4</span>
								<p>1.31</p>
							</td>
							<td>
								<span>1 2 三通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>1 4 三通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>2 4 三通</span>
								<p>1.475</p>
							</td>
						</tr>
						<tr>
							<td>
								<span>2 3 4</span>
								<p>1.31</p>
							</td>
							<td>
								<span>1 2 四通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>1 3 四通</span>
								<p>1.475</p>
							</td>
							<td>
								<span>2 3 四通</span>
								<p>1.475</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer>
	<div class="gameFooter">
		<div class="row1">已经选中
			<span>{{selectedList.length}}</span> 注</div>
		<div class="row2">
			<input class="textInput" [ngModel]="buyAmount" (ngModelChange)="changeBuyAmount($event)" type="number" placeholder="输入金额">
			<input class="btnSubmit" ion-button (click)="checkOrder()" value="下注" type="submit">
			<input class="btnReset" ion-button (click)="gameSelect01.cencelSelected(true)" value="重置" type="submit">
		</div>
		<div class="prohibit" *ngIf="stop_remaining<=0">
			<span>已封盘</span>
		</div>
	</div>
</ion-footer>