game-select-01 {

}
.titleView{
	display:flex;
}
.publicTitle{
	flex:1;
	color: #fff;
    background: #ffabb4;
    border: none;
    text-align:center;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    line-height: 35px!important;
}
.colView{
	width:100%;
	display: flex;
	.colBox{
		flex: 1;
		text-align:center;
		.row{
			width:100%;
			display: flex;
			text-align:center;
			height:40px;
			margin:0;
			padding:0;
			border-bottom: 1px solid #fff;
			border-right: 1px solid #fff;
			justify-content: center;
			align-items: center;
		}
		.row.active{background-color:#b7e2ff;}
	}
}
.mainView{
	
	.row{
		display:flex;
		height:40px;
		.col{
			flex:1;
			text-align:center;
			line-height:40px;
			margin:0;
			padding:0;
		    border-bottom: 1px solid #fff;
		    border-right: 1px solid #fff;
			line-height: 40px!important;
		}
	}
	.row-fixed-2{
		display:block;
		overflow:hidden;
		.col-fixed-2{
			width:50%;
			float:left;
			box-sizing:border-box;
			text-align:center;
			line-height:40px;
			margin:0;
			padding:0;
		    border-bottom: 1px solid #fff;
		    border-right: 1px solid #fff;
		    line-height: 40px!important;
		}
	}
	.col:active,.col.active,.col-fixed-2:active,.col-fixed-2.active{background-color:#b7e2ff;}
}